







     







<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GtR</title>
    

    <!--  Some descriptive Fields -->
    <meta charset="UTF-8" />
    <meta name="title" content="Gateway to Research (GtR) -  Explore publicly funded research" />
    <meta name="description" content="The Gateway to Research: UKRI portal onto publically funded research"/>
    <meta name="keywords" content="GtR, Gateway to Research, ukri.org, UKRI GtR, Research Portal, Public Funding"/>
    <meta name="author" content="UKRI"/>
    <meta name="publisher" content="UKRI, Polaris House, North Star Avenue, Swindon, SN2 1ET"/>
    <meta name="language" content="en" />
    <meta name="version" content="4.0.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Added to allow access to the GtR data in Google search console. -->
    <meta name="google-site-verification" content="Fwg6zce-Z_fMe0dNr6O5V1QeEcMPXCoFxF-iOvMxpYc" />

    <link rel="icon" href="/resources/img/ukri-favicon-96x96.png" itemprop="image">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    
    <script src="/resources/lib/html5shiv.js?v=95"></script>
    <script src="/resources/js/respond.min.js?v=95"></script>
    
    <!--  These are useful for mobile phones -->
    <link href="/resources/img/ukri-apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="/resources/img/ukri-apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="/resources/img/ukri-apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />    
    <link href="/resources/img/cropped-ukri-site-icon-180x180" rel="apple-touch-icon"  />
    
    <!--  Useful for Mobile Responsive onl-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0, minimum-scale=0.5, user-scalable=yes" />

    <!--   Style Sheets -->

    <link href="/webjars/bootstrap/css/bootstrap.min.css?v=95" rel="stylesheet" media="screen" />
    <link href="/resources/lib/bootstrap/css/bootstrap_override.css?v=95" rel="stylesheet" media="screen" />
    <link href="/resources/css/style.css?v=95" rel="stylesheet" media="screen" />


    <link href="/resources/css/jstree/jstreestyle.css?v=95" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css?v=95"  rel="stylesheet" media="screen">

    <link href="/webjars/jquery-ui/jquery-ui.min.css?v=95" rel="stylesheet" media="screen" />
    <link href="/resources/css/jquery-ui_override.css?v=95" rel="stylesheet" media="screen" />


    <script type="text/javascript" src="/webjars/jquery/jquery.min.js?v=95"></script>
    <script type="text/javascript" src="/webjars/jquery-ui/jquery-ui.min.js?v=95"></script>
    <script type="text/javascript" src="/resources/lib/jquery.validate.js?v=95"></script>
    <script type="text/javascript" src="/resources/lib/jquery.format-1.3.js?v=95"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js?v=95"></script>
    <script src="https://unpkg.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script  type="text/javascript" src="/webjars/angularjs/angular.min.js?v=95"></script>
    <script  type="text/javascript" src="/webjars/angularjs/angular-resource.min.js?v=95" ></script>
    <script  type="text/javascript" src="/webjars/angularjs/angular-route.min.js?v=95" ></script>
    <script  type="text/javascript" src="/webjars/angularjs/angular-sanitize.min.js?v=95"></script>  
    <script  type="text/javascript" src="/resources/js/app/configdata/outcometype.js?v=95" ></script>    
    <script  type="text/javascript" src="/resources/js/app/controllers/outcomecontroller.js?v=95" ></script>
    <script  type="text/javascript" src="/resources/js/app/controllers/searchheadcontroller.js?v=95" ></script>
    <script  type="text/javascript" src="/resources/js/app/controllers/filtercontroller.js?v=95" ></script>
    <script  type="text/javascript" src="/resources/js/app/controllers/classificationtabcontroller.js?v=95" ></script> 
    <script  type="text/javascript" src="/resources/js/app/controllers/classificationcontroller.js?v=95" ></script> 
    <script  type="text/javascript" src="/resources/js/jstree.min_gtr.js?v=95" ></script>
        
    <script type="text/javascript">
        function goBack() {
            window.history.back();
        }
    
        function searchAll() {
            let x=document.getElementById("term");
            document.getElementById("term").value = "*";
            document.getElementById("search-submit").click();
        }

        /*this will enable the sub nav to be sticky.
         - set the cookie to the selected tab value.
         */
        function setSelectedTab(tabname) {
            if (tabname === "publications")
                document.cookie="projectSubTab="+tabname;
        }

        $(document).ready(function(){
            /*
            this will enable the sub nav to be sticky.
            - on reload if the cookie = publications - select the tab
            */
            if (document.cookie.includes("projectSubTab=publications"))
                $('#tabPublicationsLink').click();

             $('#search-submit').click(function (e) {
                 if ($('#term').val() == "") {
                     e.preventDefault();
                 }
             })
        });
            
    </script>   
       
    <script  type="text/javascript" src="/resources/js/app/gtrapp.js?v=95" ></script>      

    <script type="text/javascript" src="/resources/js/google-tag-manager-setup.js?v=95"></script>
 
</head>

<body class="content gtr-body d-flex flex-column" ng-app="gtrApp" >

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLN9HHB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --> 

<header>
    <nav class="container navbar navbar-expand-lg">
        <div id="titleblock">
            <div class="col-12" >
                <a class="navbar-brand" href="https://www.ukri.org/">
                    <img class="navbar-img" src="/resources/img/ukrilogo.png?" alt="UKRI Logo (press to go to the UKRI home page)" />
                </a>
                <button class="navbar-toggler navbar-light bg-light mr-auto" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div> <!--  row -->
        <div class="col-lg-8"> 
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul id="navPrimary" class="navheadmenu navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/resources/about.html">About this system</a></li>
                        <li class="nav-item"><a class="nav-link" href="/resources/releasehistory.html">Release history</a></li>
                        <li class="nav-item"><a class="nav-link" href="/resources/contact.html">Contact us</a></li>
                    </ul>
                </div>
            </div>

    </nav>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8">        
                <p class="pl-3 h6 font-weight-bold">📣 Help Shape the Future of UKRI's Gateway to Research (GtR)</p>
                <p class="pl-3">
                    We're improving UKRI's Gateway to Research and are seeking your input!
                    If you would be interested in being interviewed about the improvements
                    we're making and to have your say about how we can make GtR more user-friendly,
                    impactful, and effective for the Research and Innovation community,
                    please email <a href="mailto:gateway@ukri.org">gateway@ukri.org</a>.                    
                </p>
            </div>
        </div>
    </div>
</header>
  
 
     

		 <script type="text/javascript">
		   	var facetsJson=[ {
  "name" : "Project Status",
  "facets" : [ {
    "id" : "c3RhdHVzfENsb3NlZHxzdHJpbmc=",
    "applied" : false,
    "name" : "Closed",
    "count" : 0
  }, {
    "id" : "c3RhdHVzfEFjdGl2ZXxzdHJpbmc=",
    "applied" : false,
    "name" : "Active",
    "count" : 0
  } ],
  "sortOrder" : "A"
}, {
  "name" : "Funded Amount",
  "facets" : [ {
    "id" : "YW1vdW50fC05MjIzMzcyMDM2ODU0Nzc1ODA4XzEwMDAwMHxyYW5nZQ==",
    "applied" : false,
    "name" : "Up to £100K",
    "count" : 0
  }, {
    "id" : "YW1vdW50fDEwMDAwMF8xMDAwMDAwfHJhbmdl",
    "applied" : false,
    "name" : "£100K to £1M",
    "count" : 0
  }, {
    "id" : "YW1vdW50fDEwMDAwMDBfMTAwMDAwMDB8cmFuZ2U=",
    "applied" : false,
    "name" : "£1M to £10M",
    "count" : 0
  }, {
    "id" : "YW1vdW50fDEwMDAwMDAwXzkyMjMzNzIwMzY4NTQ3NzU4MDd8cmFuZ2U=",
    "applied" : false,
    "name" : "Above £10M",
    "count" : 0
  } ],
  "sortOrder" : "N"
}, {
  "name" : "Region",
  "facets" : [ {
    "id" : "cmVnaW9ufExvbmRvbnxzdHJpbmc=",
    "applied" : false,
    "name" : "London",
    "count" : 0
  }, {
    "id" : "cmVnaW9ufFVua25vd258c3RyaW5n",
    "applied" : false,
    "name" : "Unknown",
    "count" : 0
  }, {
    "id" : "cmVnaW9ufFNvdXRoIEVhc3R8c3RyaW5n",
    "applied" : false,
    "name" : "South East",
    "count" : 0
  }, {
    "id" : "cmVnaW9ufEVhc3Qgb2YgRW5nbGFuZHxzdHJpbmc=",
    "applied" : false,
    "name" : "East of England",
    "count" : 0
  }, {
    "id" : "cmVnaW9ufFNjb3RsYW5kfHN0cmluZw==",
    "applied" : false,
    "name" : "Scotland",
    "count" : 0
  }, {
    "id" : "cmVnaW9ufE5vcnRoIFdlc3R8c3RyaW5n",
    "applied" : false,
    "name" : "North West",
    "count" : 0
  }, {
    "id" : "cmVnaW9ufFdlc3QgTWlkbGFuZHN8c3RyaW5n",
    "applied" : false,
    "name" : "West Midlands",
    "count" : 0
  }, {
    "id" : "cmVnaW9ufEVhc3QgTWlkbGFuZHN8c3RyaW5n",
    "applied" : false,
    "name" : "East Midlands",
    "count" : 0
  }, {
    "id" : "cmVnaW9ufFlvcmtzaGlyZSBhbmQgVGhlIEh1bWJlcnxzdHJpbmc=",
    "applied" : false,
    "name" : "Yorkshire and The Humber",
    "count" : 0
  }, {
    "id" : "cmVnaW9ufFNvdXRoIFdlc3R8c3RyaW5n",
    "applied" : false,
    "name" : "South West",
    "count" : 0
  }, {
    "id" : "cmVnaW9ufE5vcnRoIEVhc3R8c3RyaW5n",
    "applied" : false,
    "name" : "North East",
    "count" : 0
  }, {
    "id" : "cmVnaW9ufFdhbGVzfHN0cmluZw==",
    "applied" : false,
    "name" : "Wales",
    "count" : 0
  }, {
    "id" : "cmVnaW9ufE5vcnRoZXJuIElyZWxhbmR8c3RyaW5n",
    "applied" : false,
    "name" : "Northern Ireland",
    "count" : 0
  } ],
  "sortOrder" : "A"
}, {
  "name" : "Project Category",
  "facets" : [ {
    "id" : "Y2F0fFJlc2VhcmNoIEdyYW50fHN0cmluZw==",
    "applied" : false,
    "name" : "Research Grant",
    "count" : 0
  }, {
    "id" : "Y2F0fFN0dWRlbnRzaGlwfHN0cmluZw==",
    "applied" : false,
    "name" : "Studentship",
    "count" : 0
  }, {
    "id" : "Y2F0fENvbGxhYm9yYXRpdmUgUiZEfHN0cmluZw==",
    "applied" : false,
    "name" : "Collaborative R&D",
    "count" : 0
  }, {
    "id" : "Y2F0fEZlbGxvd3NoaXB8c3RyaW5n",
    "applied" : false,
    "name" : "Fellowship",
    "count" : 0
  }, {
    "id" : "Y2F0fEZlYXNpYmlsaXR5IFN0dWRpZXN8c3RyaW5n",
    "applied" : false,
    "name" : "Feasibility Studies",
    "count" : 0
  }, {
    "id" : "Y2F0fEtub3dsZWRnZSBUcmFuc2ZlciBQYXJ0bmVyc2hpcHxzdHJpbmc=",
    "applied" : false,
    "name" : "Knowledge Transfer Partnership",
    "count" : 0
  }, {
    "id" : "Y2F0fEVVLUZ1bmRlZHxzdHJpbmc=",
    "applied" : false,
    "name" : "EU-Funded",
    "count" : 0
  }, {
    "id" : "Y2F0fFZvdWNoZXJzfHN0cmluZw==",
    "applied" : false,
    "name" : "Vouchers",
    "count" : 0
  }, {
    "id" : "Y2F0fEluc3RpdHV0ZSBQcm9qZWN0fHN0cmluZw==",
    "applied" : false,
    "name" : "Institute Project",
    "count" : 0
  }, {
    "id" : "Y2F0fFNtYWxsIEJ1c2luZXNzIFJlc2VhcmNoIEluaXRpYXRpdmV8c3RyaW5n",
    "applied" : false,
    "name" : "Small Business Research Initiative",
    "count" : 0
  }, {
    "id" : "Y2F0fEdyYW50IGZvciBSJkR8c3RyaW5n",
    "applied" : false,
    "name" : "Grant for R&D",
    "count" : 0
  }, {
    "id" : "Y2F0fFJlc2VhcmNoIGFuZCBJbm5vdmF0aW9ufHN0cmluZw==",
    "applied" : false,
    "name" : "Research and Innovation",
    "count" : 0
  }, {
    "id" : "Y2F0fEJFSVMtRnVuZGVkIFByb2dyYW1tZXN8c3RyaW5n",
    "applied" : false,
    "name" : "BEIS-Funded Programmes",
    "count" : 0
  }, {
    "id" : "Y2F0fFRyYWluaW5nIEdyYW50fHN0cmluZw==",
    "applied" : false,
    "name" : "Training Grant",
    "count" : 0
  }, {
    "id" : "Y2F0fFBhcnRuZXJzaGlwIGFuZCBDb250cmlidXRpb258c3RyaW5n",
    "applied" : false,
    "name" : "Partnership and Contribution",
    "count" : 0
  }, {
    "id" : "Y2F0fEdSRCBQcm9vZiBvZiBDb25jZXB0fHN0cmluZw==",
    "applied" : false,
    "name" : "GRD Proof of Concept",
    "count" : 0
  }, {
    "id" : "Y2F0fEdSRCBEZXZlbG9wbWVudCBvZiBQcm90b3R5cGV8c3RyaW5n",
    "applied" : false,
    "name" : "GRD Development of Prototype",
    "count" : 0
  }, {
    "id" : "Y2F0fFN0dWR5fHN0cmluZw==",
    "applied" : false,
    "name" : "Study",
    "count" : 0
  }, {
    "id" : "Y2F0fEdSRCBQcm9vZiBvZiBNYXJrZXR8c3RyaW5n",
    "applied" : false,
    "name" : "GRD Proof of Market",
    "count" : 0
  }, {
    "id" : "Y2F0fEludmVzdG1lbnQgQWNjZWxlcmF0b3J8c3RyaW5n",
    "applied" : false,
    "name" : "Investment Accelerator",
    "count" : 0
  }, {
    "id" : "Y2F0fFVuaXZlcnNpdHkgVW5pdHxzdHJpbmc=",
    "applied" : false,
    "name" : "University Unit",
    "count" : 0
  }, {
    "id" : "Y2F0fENlbnRyZXN8c3RyaW5n",
    "applied" : false,
    "name" : "Centres",
    "count" : 0
  }, {
    "id" : "Y2F0fExhdW5jaHBhZHxzdHJpbmc=",
    "applied" : false,
    "name" : "Launchpad",
    "count" : 0
  }, {
    "id" : "Y2F0fFJlc3BvbnNpdmUgU3RyYXRlZ3kgYW5kIFBsYW5uaW5nfHN0cmluZw==",
    "applied" : false,
    "name" : "Responsive Strategy and Planning",
    "count" : 0
  }, {
    "id" : "Y2F0fEtub3dsZWRnZSBUcmFuc2ZlciBOZXR3b3JrfHN0cmluZw==",
    "applied" : false,
    "name" : "Knowledge Transfer Network",
    "count" : 0
  }, {
    "id" : "Y2F0fEZhc3QgU3RhcnQgUmVzcG9uc2V8c3RyaW5n",
    "applied" : false,
    "name" : "Fast Start Response",
    "count" : 0
  }, {
    "id" : "Y2F0fFNNRSBTdXBwb3J0fHN0cmluZw==",
    "applied" : false,
    "name" : "SME Support",
    "count" : 0
  }, {
    "id" : "Y2F0fENSJkQgQmlsYXRlcmFsfHN0cmluZw==",
    "applied" : false,
    "name" : "CR&D Bilateral",
    "count" : 0
  }, {
    "id" : "Y2F0fFJlc2VhcmNoIGFuZCBJbm5vdmF0aW9uIC0gSW5mcmFzdHJ1Y3R1cmV8c3RyaW5n",
    "applied" : false,
    "name" : "Research and Innovation - Infrastructure",
    "count" : 0
  }, {
    "id" : "Y2F0fEZhc3QgVHJhY2t8c3RyaW5n",
    "applied" : false,
    "name" : "Fast Track",
    "count" : 0
  }, {
    "id" : "Y2F0fExlZ2FjeSBEZXBhcnRtZW50IG9mIFRyYWRlICYgSW5kdXN0cnl8c3RyaW5n",
    "applied" : false,
    "name" : "Legacy Department of Trade & Industry",
    "count" : 0
  }, {
    "id" : "Y2F0fExlZ2FjeSBSREEgR3JhbnQgZm9yIFImRHxzdHJpbmc=",
    "applied" : false,
    "name" : "Legacy RDA Grant for R&D",
    "count" : 0
  }, {
    "id" : "Y2F0fERlbW9uc3RyYXRvcnxzdHJpbmc=",
    "applied" : false,
    "name" : "Demonstrator",
    "count" : 0
  }, {
    "id" : "Y2F0fEludHJhbXVyYWx8c3RyaW5n",
    "applied" : false,
    "name" : "Intramural",
    "count" : 0
  }, {
    "id" : "Y2F0fFByb2N1cmVtZW50fHN0cmluZw==",
    "applied" : false,
    "name" : "Procurement",
    "count" : 0
  }, {
    "id" : "Y2F0fERlcGFydG1lbnQgZm9yIFNjaWVuY2UsIElubm92YXRpb24gJiBUZWNobm9sb2d5fHN0cmluZw==",
    "applied" : false,
    "name" : "Department for Science, Innovation & Technology",
    "count" : 0
  }, {
    "id" : "Y2F0fExhcmdlIFByb2plY3R8c3RyaW5n",
    "applied" : false,
    "name" : "Large Project",
    "count" : 0
  }, {
    "id" : "Y2F0fE1pc3Npb25zfHN0cmluZw==",
    "applied" : false,
    "name" : "Missions",
    "count" : 0
  }, {
    "id" : "Y2F0fEV1cm9wZWFuIEVudGVycHJpc2UgTmV0d29ya3xzdHJpbmc=",
    "applied" : false,
    "name" : "European Enterprise Network",
    "count" : 0
  }, {
    "id" : "Y2F0fExlZ2FjeSBSREEgQ29sbGFib3JhdGl2ZSBSJkR8c3RyaW5n",
    "applied" : false,
    "name" : "Legacy RDA Collaborative R&D",
    "count" : 0
  }, {
    "id" : "Y2F0fFJlc2VhcmNoIGFuZCBJbm5vdmF0aW9uIC0gUmVzZWFyY2h8c3RyaW5n",
    "applied" : false,
    "name" : "Research and Innovation - Research",
    "count" : 0
  }, {
    "id" : "Y2F0fEJ1c2luZXNzIENvbm5lY3R8c3RyaW5n",
    "applied" : false,
    "name" : "Business Connect",
    "count" : 0
  }, {
    "id" : "Y2F0fEluc3RpdHV0ZSAtIFBhcnRuZXJzaGlwfHN0cmluZw==",
    "applied" : false,
    "name" : "Institute - Partnership",
    "count" : 0
  }, {
    "id" : "Y2F0fENSRHxzdHJpbmc=",
    "applied" : false,
    "name" : "Crd",
    "count" : 0
  }, {
    "id" : "Y2F0fFNwZWNpYWwgSW50ZXJlc3QgR3JvdXB8c3RyaW5n",
    "applied" : false,
    "name" : "Special Interest Group",
    "count" : 0
  }, {
    "id" : "Y2F0fFRoaXJkIFBhcnR5IEdyYW50fHN0cmluZw==",
    "applied" : false,
    "name" : "Third Party Grant",
    "count" : 0
  }, {
    "id" : "Y2F0fFVua25vd258c3RyaW5n",
    "applied" : false,
    "name" : "Unknown",
    "count" : 0
  }, {
    "id" : "Y2F0fE90aGVyfHN0cmluZw==",
    "applied" : false,
    "name" : "Other",
    "count" : 0
  }, {
    "id" : "Y2F0fE1lbW9yYW5kdW0gb2YgQWdyZWVtZW50fHN0cmluZw==",
    "applied" : false,
    "name" : "Memorandum of Agreement",
    "count" : 0
  }, {
    "id" : "Y2F0fFJlc2VhcmNoIGFuZCBJbm5vdmF0aW9uIC0gRmVsbG93c2hpcHMgYW5kIENhcmVlciBEZXZlbG9wbWVudHxzdHJpbmc=",
    "applied" : false,
    "name" : "Research and Innovation - Fellowships and Career Development",
    "count" : 0
  } ],
  "sortOrder" : "A"
}, {
  "name" : "Funder",
  "facets" : [ {
    "id" : "ZnVuZGVyfEVQU1JDfHN0cmluZw==",
    "applied" : false,
    "name" : "EPSRC",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfElubm92YXRlIFVLfHN0cmluZw==",
    "applied" : false,
    "name" : "INNOVATE UK",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfEJCU1JDfHN0cmluZw==",
    "applied" : false,
    "name" : "BBSRC",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfE1SQ3xzdHJpbmc=",
    "applied" : false,
    "name" : "MRC",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfEVTUkN8c3RyaW5n",
    "applied" : false,
    "name" : "ESRC",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfE5FUkN8c3RyaW5n",
    "applied" : false,
    "name" : "NERC",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfEFIUkN8c3RyaW5n",
    "applied" : false,
    "name" : "AHRC",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfFNURkN8c3RyaW5n",
    "applied" : false,
    "name" : "STFC",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfEhvcml6b24gRXVyb3BlIEd1YXJhbnRlZXxzdHJpbmc=",
    "applied" : false,
    "name" : "HORIZON EUROPE GUARANTEE",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfENPVklEfHN0cmluZw==",
    "applied" : false,
    "name" : "COVID",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfElTQ0Z8c3RyaW5n",
    "applied" : false,
    "name" : "ISCF",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfEdDUkZ8c3RyaW5n",
    "applied" : false,
    "name" : "GCRF",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfE90aGVyIE5QSUZ8c3RyaW5n",
    "applied" : false,
    "name" : "OTHER NPIF",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfFVLUkkgRkxGfHN0cmluZw==",
    "applied" : false,
    "name" : "UKRI FLF",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfFNQRnxzdHJpbmc=",
    "applied" : false,
    "name" : "SPF",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfE5ld3RvbiBGdW5kfHN0cmluZw==",
    "applied" : false,
    "name" : "NEWTON FUND",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfEVVfHN0cmluZw==",
    "applied" : false,
    "name" : "EU",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfE5DM1JzfHN0cmluZw==",
    "applied" : false,
    "name" : "NC3RS",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfEFUSXxzdHJpbmc=",
    "applied" : false,
    "name" : "ATI",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfEZJQ3xzdHJpbmc=",
    "applied" : false,
    "name" : "FIC",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfElTUEZ8c3RyaW5n",
    "applied" : false,
    "name" : "ISPF",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfFRNRnxzdHJpbmc=",
    "applied" : false,
    "name" : "TMF",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfEFQQ3xzdHJpbmc=",
    "applied" : false,
    "name" : "APC",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfERCVHxzdHJpbmc=",
    "applied" : false,
    "name" : "DBT",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfEluZnJhc3RydWN0dXJlIEZ1bmR8c3RyaW5n",
    "applied" : false,
    "name" : "INFRASTRUCTURE FUND",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfFVLUkkgSW5uLlNjaG9sYXJ8c3RyaW5n",
    "applied" : false,
    "name" : "UKRI INN.SCHOLAR",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfEF5cnRvbiBGdW5kfHN0cmluZw==",
    "applied" : false,
    "name" : "AYRTON FUND",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfFVLUkkgQ1JDUk18c3RyaW5n",
    "applied" : false,
    "name" : "UKRI CRCRM",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfFVLUkl8c3RyaW5n",
    "applied" : false,
    "name" : "UKRI",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfFVVSXxzdHJpbmc=",
    "applied" : false,
    "name" : "UUI",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfERSSXxzdHJpbmc=",
    "applied" : false,
    "name" : "DRI",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfENDQVZ8c3RyaW5n",
    "applied" : false,
    "name" : "CCAV",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfEJFSVN8c3RyaW5n",
    "applied" : false,
    "name" : "BEIS",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfFNpUEZ8c3RyaW5n",
    "applied" : false,
    "name" : "SIPF",
    "count" : 0
  }, {
    "id" : "ZnVuZGVyfERTSVR8c3RyaW5n",
    "applied" : false,
    "name" : "DSIT",
    "count" : 0
  } ],
  "sortOrder" : "A"
}, {
  "name" : "Start Year",
  "facets" : [ {
    "id" : "c3RhcnR8MTkyNDk5MjAwMDAwMF8xOTU2NTI3OTk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2031",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTg5MzQ1NjAwMDAwMF8xOTI0OTkxOTk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2030",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTg2MTkyMDAwMDAwMF8xODkzNDU1OTk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2029",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTgzMDI5NzYwMDAwMF8xODYxOTE5OTk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2028",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTc5ODc2MTYwMDAwMF8xODMwMjk3NTk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2027",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTc2NzIyNTYwMDAwMF8xNzk4NzYxNTk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2026",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTczNTY4OTYwMDAwMF8xNzY3MjI1NTk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2025",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTcwNDA2NzIwMDAwMF8xNzM1Njg5NTk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2024",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTY3MjUzMTIwMDAwMF8xNzA0MDY3MTk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2023",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTY0MDk5NTIwMDAwMF8xNjcyNTMxMTk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2022",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTYwOTQ1OTIwMDAwMF8xNjQwOTk1MTk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2021",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTU3NzgzNjgwMDAwMF8xNjA5NDU5MTk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2020",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTU0NjMwMDgwMDAwMF8xNTc3ODM2Nzk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2019",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTUxNDc2NDgwMDAwMF8xNTQ2MzAwNzk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2018",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTQ4MzIyODgwMDAwMF8xNTE0NzY0Nzk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2017",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTQ1MTYwNjQwMDAwMF8xNDgzMjI4Nzk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2016",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTQyMDA3MDQwMDAwMF8xNDUxNjA2Mzk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2015",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTM4ODUzNDQwMDAwMF8xNDIwMDcwMzk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2014",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTM1Njk5ODQwMDAwMF8xMzg4NTM0Mzk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2013",
    "count" : 0
  }, {
    "id" : "c3RhcnR8MTMyNTM3NjAwMDAwMF8xMzU2OTk4Mzk5MDU5fHJhbmdl",
    "applied" : false,
    "name" : "2012",
    "count" : 0
  } ],
  "sortOrder" : "D"
} ];
		   	var selectedFacetString="";
		 </script>
 

 
<article id="gtrArticle">
    <header>
        <div id="title-wrapper" class="container">
            <div class="row">
                <div id="detail-wrapper" class="col-12">
                    <div class="row">
                        <div id="detail-title" class="col">
                            <h1 id="name" class="gtr-per-name">Kevin Wilson</h1>
                            <nav id="gtr-back"  class="container">
							    <div class="row">
							        <a href="javascript:void(0);" onclick="goBack()" class="btn-default btn-back" role="button"><span class="icon-chevron-left"></span>Go back</a>
							    </div>
							</nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#reset-submit').click(function() {
                $('#term').val('');
                $(this).submit();
            });
        });
    </script>
    
    
	    
		     <div class="container">
                <section id="Search"  class="text-center">
                    <section id="MainSearch">
                      <div id="search-wrapper" class="col-lg-12 col-md-12 col-sm-12">
                        
                            <form id="search-form" style="height:1.5%;" class="form-search" action="/person/04D6C214-8D92-40EA-9AFB-D4AAA5ACD549" method="get">
                                <input id="term" name="term" placeholder="Search within this person&#39;s projects..." type="text" value=""/>
                                
                                <p class="rwd-break-2btn"></p>
                                <button id="search-submit" type="submit" class="btn btn-primary search-button">
                                    <span>Search</span> <!--  class="d-none d-md-block" -->
                                    <!--  <span class="d-sm-none">Go!</span> -->
                                </button>
                                <label class="sr-only">Reset results to starting set</label>
                                <button id="reset-submit" type="submit" class="btn btn-primary search-button">
                                    <span>Reset</span> <!--  class="d-none d-md-block" -->
                                    <!-- span class="d-sm-none">X</span>  -->
                                </button>
                                <input id="page" name="page" type="hidden" value="1"/>
                                <input id="fetch" name="fetchSize" type="hidden" value="25"/>
                                <input id="sortField" name="selectedSortableField" type="hidden" value=""/>
                                <input id="sortOrder" name="selectedSortOrder" type="hidden" value=""/>
                            </form>
                       </div>
                   </section>
               </section>
            </div>

		    <div id="content-wrapper" class="container">
		        
		        
		        

<aside class="gtr-search-container">
    <section id="gtr-search-result-container">
        <div class="container-fluid"  style="padding-right:0; padding-left:0;">
            <section class="row">
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="row" > <!--   style="overflow-x: hidden;overflow-y: hidden; -->
                            
                            



<!-- Search Controls -->
<div id="gtr-top-search-controls" class="container">
    <p></p>
    <div id="results-controls" class="row no-gutters" style="overflow-x: hidden;overflow-y: hidden">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6" style="overflow-x: hidden;overflow-y: hidden;">
            
            
        </div>
        
        <div class="col-lg-3 col-md-1 col-sm-1 col-xs-1 d-none d-lg-block pull-left">
            <div class="pagination-centered btn-group-css3 btn-responsive">   <!-- pagination  -->
                    
                </div>
            </div>
        
        <div id="search-download-controls" class="col-1 d-none d-lg-block" style="overflow-x: hidden;overflow-y: hidden;"> 
                
            </div>
           <div class="col-1 d-none d-lg-block"> 
           
           </div>
           
            <!-- ml-5 pl-5 mm-5 pm-5  -->
         <div id="search-right-controls" class="col-lg-2 col-md-5 col-sm-5 col-xs-5" style="overflow-x: hidden;overflow-y: hidden;">  <!--   class="col-lg-2 col-md-2" -->
                
                
                
                    <div id="refine-control" class="btn-group-css3 btn-responsive"> <!--  pull-right -->
                        <a id="refine-menu" class="menu-btn btn-css3 btn-css3-default btn-responsive d-lg-none" href="javascript:void(0);" role="button" rel="nofollow" data-toggle="collapse" data-target="#results-refine">Refine</a>
                    </div>
                
            </div>
    </div>    
</div>

                        </div> 
				      
				        <div class="container">
					        
					  </div>
					  
                                
                                    
                                        <h2 id="noresults">No research found</h2>                                        
                                       <p style="width:70%" id="appliedFiltersText"/>
                                    
                                    
                                
                            
                            
				    </div>
				     
				  
				    
 
<aside id="results-refine" class="collapse col-lg-3 col-md-3 col-sm-3 cols-xs-6 pl-3" > <!--   data-toggle="collapse" data-target="#filter-checkboxes"  -->  
    
    <div id="result-collapse" ng-controller="filtercontroller"> <!-- id="filters" -->

        <p></p>
    	<div id="filter-div" >
    	           		
    		<form id="filter-form" action="/person/04D6C214-8D92-40EA-9AFB-D4AAA5ACD549" method="get">  
    				 		 		
                 	<div id="filterButton" class="btn-responsive">
						<button id="applyFilter" type="submit" class="btn-mini btn-css3-filter  btn-responsive btn-css3-default" ng-class="{active:isActive()}" ng-click="handleApplyFilter()" ><span>Apply Filter</span></button>
		        		<button id="clearFilter" class="btn-mini btn-css3-filter  btn-responsive btn-css3-default" ng-click="handleClearFilter()"  ng-class="{active:!isActive()}" ><span>Clear All</span></button>
		        		<a class="btn-mini btn-css3-filter  btn-responsive btn-css3-default" href="/resources/multifacethelp.html" id="help" >Help</a>
	        		</div>
	        		
	        		<p>
	        		<h3> 
	        		
	        		Refine by :
	        		
	        		</h3>
	        			</p>				
	        		<input id="term" name="term" type="hidden" value=""/>		                                     
                    <input id="fetch" name="fetchSize" type="hidden" value="25"/>
                    <input id="sortField" name="selectedSortableField" type="hidden" value=""/>
                    <input id="sortOrder" name="selectedSortOrder" type="hidden" value=""/>
                    <input id="fields" name="fields" type="hidden" value=""/>
                    <input id="type" name="type" type="hidden" value=""/>
                    <input id="selectedFacets" name="selectedFacets" type="hidden" value=""/>
             </form>	        	        
        </div>
        
		<div  id="filter-checkboxes" ng-cloak>               
	        <div class="filter-category" ng-repeat="facetGroup in facetGroups" id="{{facetGroup.name}}">        	
	        	<h4 class="treeNodeTextParentLevel1_filter" >{{facetGroup.name}}</h4>
	        	
				<div ng-repeat="facet in facetGroup.facets" style="color:#3f3d3d;" ng-init="showCount=shouldFilterChecked(facetGroup,facet)" >        		
        			<div  class="searchfacetrepeater" ng-cloak >
						 <input type="checkbox" name="facetId" id="{{facet.id}}" value="{{facet.id}}"  ng-checked="{{showCount}}"   ng-cloak />
						<label class="treeNodeTextParentLevel3_filter" id="span_{{facet.id}}" ng-style="{{getNoRecordStyle(facet,showCount)}}"  for="{{facet.id}}">{{getFilterText(facet,showCount)}}
					    </label>
					</div>        			        		
	        	</div>	            	
	        	
	        </div>
	        <p ng-cloak id="{{getNotFoundText()}}"/>	        	        
        </div>           
        <div id="filter-div2">    		
                 	<div id="filterButton" class="btn-responsive">
						<button id="applyFilter1" class="btn-mini btn-css3-filter  btn-responsive btn-css3-default" ng-click="handleApplyFilter()" ng-class="{active:isActive()}"><span>Apply Filter</span></button>
		        		<button id="clearFilter1" class="btn-mini btn-css3-filter  btn-responsive btn-css3-default" ng-click="handleClearFilter()" ng-class="{active:!isActive()}" ><span>Clear All</span></button>
	        		</div>	        		
        </div>
    </div>
</aside> 
	
		      </section>
		  </div>
        
    </section>
    
<!-- Container for search Results -->
</aside>


		    </div>
        
	    
    
  
</article>

<section class="container-fluid flex-grow">
</section><footer class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">  
                <div class="widget">
                    <h5 class="widgetheading">Data</h5>
                    <p><a href="https://www.ukri.org/publications/gateway-to-research-guide/a-guide-to-gateway-to-research/">The Data</a> on this website provides information about publications, people, organisations and outcomes relating to research projects&#160;</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget">
                     
                     
                    <h5 class="widgetheading">APIs</h5>
                    <p>A set of REST <a href="/resources/api.html">API's</a> enable programmatic access to the data.  Refer to the application programming interfaces
                    <a class="footerlink" href="/resources/gtrapi.html" target="_blank">GtR</a>
                    and <a class="footerlink" href="/resources/gtrapi2.html" target="_blank">GtR-2</a></p>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="widget">
                </div>
                </div>
                
               <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Contact</h5>
                        <p>UKRI Gateway<br />
                            Polaris House<br />
                            Swindon<br />
                            SN2 1ET<br />
                        <a href="mailto:gateway@ukri.org">gateway@ukri.org</a></p>
                </div>
            </div>
        </div>
    </div>
        <div id="sub-footer">
        <div style="width:95%;">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-11">
                    <div class="endlinks">
                        
                        
                        
                        <p><a href="https://www.ukri.org/about-us/privacy-notice/">Privacy</a>&#160;| <a href="https://www.ukri.org/terms-of-use/">Terms of Use</a>&#160; | <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">OGL</a>
                            <span class="pull-right">Data last updated: 06 Jul 2026</span></p>
                        <div class="credits">&#160;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>
<script type="text/javascript" src="/resources/js/cookie-control-setup.js?v=95"></script>



</body>
</html>

